.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
webview/**
.gitignore
.eslintrc
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/jsconfig.json
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*